data/*
!data/_INSTALL
!data/_FULLINSTALL
!data/_PERSISTENT
!data/_STARTUP
!data/_REQUIRED
data-lowend/*
!data-lowend/_INSTALL
!data-lowend/_FULLINSTALL
!data-lowend/_PERSISTENT
!data-lowend/_STARTUP
!data-lowend/_REQUIRED
gtag.txt
landing/*
!landing/README.md
!landing/assets
!landing/srb2.webmanifest
!landing/service-worker.js
!landing/libs
*.zip
__pycache__
